# Transform GeoJSON Properties into Records

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from plotly.graph_objs import *
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

from collections import Counter

import plotly.graph_objs as go
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os, json
import urllib.request 

brd_count = {
    'bin': 0,    'bowl': 0, 
    'bucket': 0, 'cup': 0,
    'tire': 0,   'pottedplant': 0, 
    'jar': 0,    'vase': 0
}

## Sameple data in GeoJSON file

In [2]:
with open(os.path.join('..','data','breeding-sites','krabi-detection.geojson'), 'r') as file:
    data = json.load(file)

print(json.dumps(data['features'][0], ensure_ascii=False, indent=4))

{
    "properties": {
        "subdist": "เหนือคลอง",
        "brd_sites": {
            "216": {
                "sum_each": 1,
                "count": {
                    "bucket": 1
                }
            },
            "0": {
                "sum_each": 1,
                "count": {
                    "bucket": 1
                }
            }
        },
        "sum": 2,
        "date": {
            "month": "03",
            "year": "2016"
        },
        "district": "เหนือคลอง",
        "image_name": "7.89442744_99.02596777",
        "province": "กระบี่"
    },
    "type": "Feature",
    "geometry": {
        "type": "Point",
        "coordinates": [
            99.02596777,
            7.89442744
        ]
    }
}

In [3]:
rows = []
for i, feature in enumerate(data['features']):
    
    row = feature['properties'].copy()
    
    lng, lat = feature['geometry']['coordinates']
    row['lng'], row['lat'] = lng, lat
    
    row['date'] = row['date']['year']+'-'+row['date']['month']
    
    for degree in row['brd_sites']:
        
        detected_brd = row['brd_sites'][degree]['count']

        for cls in brd_count:
            if cls not in row:
                row[cls] = 0
            
            if cls in detected_brd:
                row[cls] += detected_brd[cls]
                
    _= row.pop('brd_sites')
#     _= row.pop('directory')
    _= row.pop('image_name')

    rows.append(row)
    
df = pd.DataFrame.from_dict(rows)
df = df.drop('province', axis=1)
df['date'] = pd.to_datetime(df['date'], format='%Y-%m')
df = df.set_index('date')
df = df.sort_index()
df = df['2016']
df.head()
df.tail()
print('Total:',len(df))

,bin,bowl,bucket,cup,district,jar,lat,lng,pottedplant,subdist,sum,tire,vase
date,,,,,,,,,,,,,
2016-01-01,0,0,2,0,เมืองกระบี่,0,8.006397,98.840986,1,อ่าวนาง,3,0,0
2016-01-01,0,0,0,0,เมืองกระบี่,0,8.019386,98.837395,1,อ่าวนาง,1,0,0
2016-01-01,0,0,0,0,เมืองกระบี่,0,8.012092,98.839691,2,อ่าวนาง,2,0,0
2016-01-01,0,0,0,0,เมืองกระบี่,0,8.011447,98.838362,1,อ่าวนาง,1,0,0
2016-01-01,0,0,1,0,เมืองกระบี่,0,8.010250,98.841269,0,อ่าวนาง,1,0,0

,bin,bowl,bucket,cup,district,jar,lat,lng,pottedplant,subdist,sum,tire,vase
date,,,,,,,,,,,,,
2016-12-01,0,0,1,0,ลำทับ,0,8.189570,99.323854,0,ลำทับ,1,0,0
2016-12-01,0,0,1,0,ลำทับ,0,8.186216,99.321156,0,ลำทับ,1,0,0
2016-12-01,0,0,1,0,ลำทับ,0,8.177941,99.314485,0,ลำทับ,1,0,0
2016-12-01,0,0,0,0,ลำทับ,0,8.192055,99.325797,1,ลำทับ,1,0,0
2016-12-01,0,0,1,0,ลำทับ,0,8.168844,99.309304,0,ลำทับ,1,0,0

Total: 16019

## Load subdistrict polygons

In [4]:
with open(os.path.join('..','data','shapefiles','Krabi.geojson'), 'r') as file:
    data_polygon = json.load(file)

In [5]:
data_polygon['features'][0]

{'geometry': {'coordinates': [[[99.06856570381986, 7.214135468572895],
    [99.06804516861584, 7.214268408755317],
    [99.0675736235135, 7.214535334230721],
    [99.06733931895566, 7.215026676938504],
    [99.06685869301705, 7.215146606341588],
    [99.06633047887809, 7.215039262674347],
    [99.06578615826592, 7.215122451023739],
    [99.065252596804, 7.2152322096665],
    [99.06476972026766, 7.215455600246946],
    [99.06433299829561, 7.215785273728864],
    [99.0639172255741, 7.21614321245551],
    [99.06363648947334, 7.216605725802469],
    [99.06343388470987, 7.217109500272441],
    [99.06292017622191, 7.217511550677879],
    [99.06251685650852, 7.217875140128183],
    [99.06209655052167, 7.218220074262132],
    [99.06172748526471, 7.218614753805172],
    [99.0614291939744, 7.219067656828646],
    [99.06124555181435, 7.219579342956525],
    [99.0611312638611, 7.220110242363038],
    [99.0610891604931, 7.220656397116074],
    [99.06129500879602, 7.221089444284946],
    [99.06180710873545, 7.221302520391219],
    [99.06231807055332, 7.221476020052172],
    [99.06286071830398, 7.22151156407775],
    [99.0634042078796, 7.221496789258858],
    [99.06394316156882, 7.221433957833965],
    [99.06447389798006, 7.221316851251383],
    [99.06500548369036, 7.221199178560986],
    [99.0655503814331, 7.221134648281571],
    [99.06596766580662, 7.221422362368284],
    [99.06615994279174, 7.221931169050201],
    [99.06631768816762, 7.222450157343459],
    [99.06643693737358, 7.222981589347693],
    [99.06666601097682, 7.22345929497396],
    [99.0670801930503, 7.22380863394705],
    [99.06740041067864, 7.224247880503222],
    [99.06770449513752, 7.224698436645868],
    [99.06800603227977, 7.225150123694149],
    [99.06833474303434, 7.225583714570354],
    [99.06870732395808, 7.225977157212619],
    [99.06913679343302, 7.226311226911176],
    [99.06953626402621, 7.226679223058344],
    [99.06992582911849, 7.227059093163408],
    [99.07034737535952, 7.227398816617538],
    [99.07079807368181, 7.227703482116556],
    [99.07123801797358, 7.22802171775488],
    [99.0716553217791, 7.228369921202067],
    [99.07207743793052, 7.228711904409747],
    [99.07257340596405, 7.22886334530325],
    [99.07307752585622, 7.228659165729468],
    [99.07345848067608, 7.228279174942497],
    [99.07387941537662, 7.22831076775729],
    [99.07415180792195, 7.228780547194095],
    [99.0745368494744, 7.229160414006165],
    [99.07500226756835, 7.229437369679165],
    [99.07552710914429, 7.229578625904115],
    [99.07606863358336, 7.229610196695912],
    [99.07661241787055, 7.229607844183449],
    [99.07715364587831, 7.229557434891111],
    [99.07769601078577, 7.229534727959342],
    [99.07823979336706, 7.229528415908411],
    [99.07877793073844, 7.229610867481679],
    [99.0793171733598, 7.229542364085092],
    [99.07984366535639, 7.229402060128657],
    [99.08032824390523, 7.229158300001823],
    [99.08077119759334, 7.228841048466134],
    [99.08119263127746, 7.228496097139389],
    [99.08159028246642, 7.228125142598994],
    [99.08194291672245, 7.227713489066516],
    [99.08227629806896, 7.227283181479868],
    [99.08265667681194, 7.226897529471374],
    [99.08306904711486, 7.226542401374914],
    [99.08347802020047, 7.226183881300875],
    [99.0838892563036, 7.225825360445731],
    [99.08424839945764, 7.225422749877408],
    [99.08455544788764, 7.22497604971653],
    [99.08484437727904, 7.224514087689233],
    [99.08514264821319, 7.224058908190068],
    [99.08541968596282, 7.223593555783169],
    [99.08562708196074, 7.223090901763152],
    [99.08577870892964, 7.222569600869947],
    [99.08576643436349, 7.222027411998008],
    [99.08566612761304, 7.221493720210425],
    [99.08540221879052, 7.221018857646144],
    [99.08505057185586, 7.220610159724751],
    [99.08462137910865, 7.220277235672556],
    [99.08417775403099, 7.219960709638642],
    [99.08373129923642, 7.219650968139162],
    [99.08327833671409, 7.219350838694572],
    [99.08281745127715, 7.219063713771963],
    [99.08234609595716, 7.218790724550459],
    [99.08185578229552, 7.218556748868305],
    [99.08134962276277, 7.218352740167358],
    [99.08083525700991, 7.218163997383666],
    [99.08031269098419, 7.218019354440424],
    [99.07978051370783, 7.21794708013828],
    [99.07923617759108, 7.217946044145779],
    [99.07868844914037, 7.21797610352769],
    [99.0781463848785, 7.218018034088442],
    [99.07760828927516, 7.218099539346251],
    [99.07706764211926, 7.218156168050726],
    [99.07652472288251, 7.218168697509658],
    [99.07598095259947, 7.218167657545709],
    [99.07543718056368, 7.21816152858981],
    [99.07489397250689, 7.218136741629227],
    [99.0743535894618, 7.218082554235584],
    [99.07381405380872, 7.21801366640072],
    [99.07328413519862, 7.217898981277602],
    [99.07280316570517, 7.217646337044202],
    [99.07244587245917, 7.217244979939724],
    [99.07217377103038, 7.216773502997605],
    [99.07177091460272, 7.216426993591839],
    [99.07123109881515, 7.216364887183016],
    [99.07077731194188, 7.216148420326357],
    [99.0704989866056, 7.215684293137905],
    [99.0702832142503, 7.215185668468764],
    [99.07001366458931, 7.214715885886653],
    [99.06961165863224, 7.214358066945649],
    [99.06910947244835, 7.214156870796065],
    [99.06856570381986, 7.214135468572895]]],
  'type': 'Polygon'},
 'properties': {'AP_EN': 'Ko Lanta',
  'AP_IDN': '8103',
  'AP_TN': 'เกาะลันตา',
  'PV_EN': 'Krabi',
  'PV_IDN': '81',
  'PV_TN': 'กระบี่',
  'TB_EN': 'Ko Lanta Yai',
  'TB_IDN': '810301',
  'TB_TN': 'เกาะลันตาใหญ่'},
 'type': 'Feature'}

## Sum number of breeding sites in each subdistrict

In [6]:
df_sum = []
polygons = []
province = 'กระบี่'
for i, feature in enumerate(data_polygon['features']):
    prop = feature['properties']
    province, district, subdist = prop['PV_TN'], prop['AP_TN'], prop['TB_TN']
    province_en, district_en, subdist_en = prop['PV_EN'], prop['AP_EN'], prop['TB_EN']
    value = df[(df.district == district) & (df.subdist == subdist)].copy()
    
    if len(value) == 0:
        continue
    
    total = 0
    tmp_sum = []
    for cls in brd_count:
        tmp_sum.append(value[cls].sum())
        total += value[cls].sum()

    df_sum.append([Counter(list(value.index)).most_common(1)[0][0],
                   province, district, subdist,
                   province_en, district_en, subdist_en,
                  ]+tmp_sum+[total])
    
df_sum = pd.DataFrame.from_records(df_sum)
df_sum.columns = ['date','province','district','subdist',
                  'province_en','district_en','subdist_en',
                  'bin','bowl', 'bucket','cup','jar',
                  'pottedplant','tire','vase','total']
df_sum = df_sum.set_index('date')
df_sum.drop_duplicates(inplace=True)

df_sum.head()
df_sum.tail()
print('Total:',len(df_sum))

df_sum.to_csv(os.path.join('..','data','breeding-sites','Krabi-sum-detection.csv'))

,province,district,subdist,province_en,district_en,subdist_en,bin,bowl,bucket,cup,jar,pottedplant,tire,vase,total
date,,,,,,,,,,,,,,,
2016-02-01,กระบี่,อ่าวลึก,นาเหนือ,Krabi,Ao Luek,Na Nuea,307,10,1,9,32,38,1,104,502
2016-02-01,กระบี่,อ่าวลึก,เขาใหญ่,Krabi,Ao Luek,Khao Yai,253,3,0,16,80,55,2,146,555
2016-03-01,กระบี่,ปลายพระยา,คีรีวง,Krabi,Plai Phraya,Khiri Wong,160,5,2,35,87,31,1,175,496
2016-02-01,กระบี่,เขาพนม,หน้าเขา,Krabi,Khao Phanom,Na Khao,263,2,0,21,33,28,1,112,460
2016-02-01,กระบี่,อ่าวลึก,คลองยา,Krabi,Ao Luek,Khlong Ya,214,2,0,18,48,36,1,143,462

,province,district,subdist,province_en,district_en,subdist_en,bin,bowl,bucket,cup,jar,pottedplant,tire,vase,total
date,,,,,,,,,,,,,,,
2016-03-01,กระบี่,คลองท่อม,ทรายขาว,Krabi,Khlong Thom,Sai Khao,643,17,2,9,92,77,3,268,1111
2016-04-01,กระบี่,เกาะลันตา,ศาลาด่าน,Krabi,Ko Lanta,Sala Dan,251,10,0,7,15,31,7,172,493
2016-02-01,กระบี่,ปลายพระยา,เขาต่อ,Krabi,Plai Phraya,Khao To,347,6,1,12,10,50,2,151,579
2016-03-01,กระบี่,ปลายพระยา,ปลายพระยา,Krabi,Plai Phraya,Plai Phraya,605,8,4,44,102,73,5,378,1219
2016-02-01,กระบี่,ปลายพระยา,เขาเขน,Krabi,Plai Phraya,Khao Khen,270,1,0,35,38,24,2,139,509

Total: 47